/* Title */
.title {
	font-size: 3rem;
	font-weight: 700;
	color: var(--slate-800);
	line-height: 1.25;
	text-align: center;
	margin-top: 6rem;
}

/* Join form */
.join-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-top: 4rem;

	button {
		margin-top: 1rem;
	}
}

.join-button:disabled {
	background-color: var(--slate-300);
	cursor: not-allowed;
}

/* Screenshots */
.screenshots-desc {
	margin-top: 2rem;
	font-size: 1.25rem;
	font-weight: 500;
	color: var(--slate-700);
	text-align: center;
}
.screenshots {
	margin-top: 2rem;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1.5fr 1fr;
	/* スマホなら1列 */
	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}
	backdrop-filter: blur(3px);
	/* grid-template-rows: ; */

	img {
		width: 100%;
		height: auto;
		border-radius: 0.5rem;
		border: 1px solid var(--slate-200);
	}
}
